@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=League+Spartan:wght@300;400;500;700&display=swap');
* {
    margin:0;
    padding:0;
}

.hero-img {
    background-image:url("img/indexhero.png");
    min-height:60vh;
    background-repeat:no-repeat;
    background-size:cover;
    background-position-y: center;
}

.hero-img2 {
    background-image:url("img/taxes.png");
}

a {
    text-decoration: none;
}

h1 {
    font-size:3vw;
    font-family:"Aclonica", sans-serif;
    padding-top:1vw;
    padding-left:1vw;
    color:#f4f4f4;
}

.nav-bar {
    display:flex;
    flex:wrap;
    color:#FFFFFF;
}

.nav-selection {
    list-style:none;
    display:flex;
    justify-content:space-between;
    padding-right:5vw;
    padding-left:5vw;
    padding-top:2vw;
    width:80%;
}

h2 {
  width:30vw;  
  font-family:"League Spartan", sans-serif;
  font-weight:500;
  font-size:1.4vw;
  color:#eaeaea;
}

h3 {
    font-family:"League Spartan", sans-serif;
    font-weight:bold;
    font-size:3.5vw;
    color:#8980F5;
}

p {
    font-family:"League Spartan", sans-serif;
}

.make-choices {
    padding-top:1.5vw;
    font-size:1.3vw;
    line-height:2vw;
}

.index-sect1 {
    margin:8vw 20vw;
}

.get-started {
    background-color: #8980F5;
    color:#fafafa;
    font-family:"League Spartan", sans-serif;
    float:right;
    padding:.8vw 1.5vw;
    font-size:1.1vw;
    margin-right:2vw;
}

.pattern {
    background-image:url("img/pattern.png");
}

footer {
    background-color:rgba(221, 107, 41, 0.687);
    min-height:15vw;
}

.gradient {
    background: rgb(98,194,141);
    background: linear-gradient(17deg, rgba(98,194,141,1) 2%, rgba(173,230,193,1) 37%, rgba(236,232,210,1) 65%, rgba(251,229,218,1) 81%);
}

.gross-annual {
    background:#8980F5;
    padding:1.5vw;
}

.sect1-content {
    display:flex;
    flex:wrap;
    padding: 0 8vw;
    justify-content:space-between;
}

.income-flex,
.career-flex {
    width:25vw;
}

#section-net-monthly {
    margin: 4vw 15vw;
}

.sect1-head {
    text-align: center;
    padding-top:3vw;
    padding-bottom:3vw;
}

.sect1-content p {
    text-align:center;
    font-size:1.5vw;
}

.career-input {
    width:100%;
    height:3vw;
    padding:0 1vw;
    font-size:1.2vw;
    font-family:"League Spartan", sans-serif;
}

#calculateGmi {
    margin: 2vw 0 2vw 53vw;
    padding: .5vw 1.5vw;
    background-color:#a1d2b64b;
    border: #8ec2a4 solid .15vw;
    border-radius:2vw;
    font-family:"League Spartan", sans-serif;
    font-size:1.2vw;
}

#calculateGmi:hover {
    background-color:#fffefe91;
}

.gross-monthly {
    font-family:"League Spartan", sans-serif;
    padding: 0 8vw;
    text-align:center;
    font-size:2.5vw;
}

.dollar {
    font-family:"League Spartan", sans-serif;
    font-weight:600;
    font-size:3vw;
    color:#8980F5;
    padding-right:1vw;
}

.flex {
    display:flex;
    flex:wrap;
    justify-content: center;
    padding-bottom:3vw;
    padding-top:1vw;
}

.monthly-number {
    background:#8980F5;
    padding:1.5vw 6vw;
}