/* @import url('https://fonts.googleapis.com/css2?family=Aclonica&family=League+Spartan:wght@300;400;500;700&family=Ubuntu+Mono&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=League+Spartan:wght@300;400;500;700&family=Bad+Script&family=Ubuntu+Mono&display=swap');


* {
    margin:0;
    padding:0;
}

.hero-img {
    background-image:url("img/indexhero.png");
    min-height:35vw;
    background-repeat:no-repeat;
    background-size:cover;
    background-position-y: center;
}

.hero-img2 {
    background-image:url("img/taxes.png");
}

a {
    text-decoration: none;
}

h1 {
    font-size:3vw;
    font-family:"Aclonica", sans-serif;
    padding-top:1vw;
    padding-left:1vw;
    color:#f4f4f4;
}

.nav-bar {
    display:flex;
    flex:wrap;
    color:#FFFFFF;
}

.nav-selection {
    list-style:none;
    display:flex;
    justify-content:space-between;
    padding-right:5vw;
    padding-left:5vw;
    padding-top:2vw;
    width:80%;
}

h2 {
  width:30vw;  
  font-family:"League Spartan", sans-serif;
  font-weight:500;
  font-size:1.4vw;
  color:#eaeaea;
}

h3 {
    font-family:"League Spartan", sans-serif;
    font-weight:bold;
    font-size:3.5vw;
    color:#8980F5;
}

p {
    font-family:"League Spartan", sans-serif;
}

.make-choices {
    padding-top:1.5vw;
    font-size:1.3vw;
    line-height:2vw;
}

.index-sect1 {
    margin:8vw 20vw;
}

.get-started {
    background-color: #8980F5;
    color:#fafafa;
    font-family:"League Spartan", sans-serif;
    float:right;
    padding:.8vw 1.5vw;
    font-size:1.1vw;
    margin-right:2vw;
}

.pattern {
    background-image:url("img/pattern.png");
}

footer {
    background-color:rgba(221, 107, 41, 0.687);
    min-height:15vw;
}

.gradient,
.net-monthly {
    background: rgb(98,194,141);
    background: linear-gradient(17deg, rgba(98,194,141,1) 2%, rgba(173,230,193,1) 37%, rgba(236,232,210,1) 65%, rgba(251,229,218,1) 81%);
    margin-bottom:5vw;
}

.gross-annual {
    background:#8980F5;
    padding:1.5vw;
}

.sect1-content {
    display:flex;
    flex:wrap;
    padding: 0 8vw;
    justify-content:space-between;
}

.income-flex,
.career-flex {
    width:25vw;
}

option {
    font-size:1.5vw;
}

#section-gross-monthly {
    margin: 4vw 15vw;
}

.sect1-head {
    text-align: center;
    padding-top:3vw;
    padding-bottom:3vw;
}

.sect1-content p {
    text-align:center;
    font-size:1.5vw;
}

.careerInput {
    width:100%;
    height:3vw;
    padding:0 1vw;
    font-size:1.2vw;
    font-family:"League Spartan", sans-serif;
}

#calculateGmi {
    margin: 2vw 0 2vw 53vw;
    padding: .5vw 1.5vw;
    background-color:#a1d2b64b;
    border: #8ec2a4 solid .15vw;
    border-radius:2vw;
    font-family:"League Spartan", sans-serif;
    font-size:1.2vw;
}

#calculateGmi:hover {
    background-color:#fffefe91;
}

.gross-monthly {
    font-family:"League Spartan", sans-serif;
    padding: 0 8vw;
    text-align:center;
    font-size:2.5vw;
    margin-top:3vw;
}

.dollar {
    font-family:"League Spartan", sans-serif;
    font-weight:600;
    font-size:3vw;
    color:#8980F5;
    padding-right:1vw;
}

.flex {
    display:flex;
    flex:wrap;
    justify-content: center;
    padding-bottom:3vw;
    padding-top:1vw;
}

.monthly-number {
    background-color:#8980F5;
    padding:1.5vw 6vw;
}

.house-payment {
    background-color:transparent;
    padding:1.5vw 4vw;
}

.house-payment-sec {
    display:flex;
    flex:wrap;
    justify-content:space-around;
    margin: 0 15vw;
    background:#004643;
}

.house-payment-sec img {
    width: 35vw;
}

.house-payment-sec h3 {
    color:#EFEFEF;
    font-size: 2.9vw;
    text-align: center;
    padding: 3vw .5vw 8vw .5vw;
}

.house-payment-sec p {
    color:#EFEFEF;
    font-size:1.9vw;
    text-align: center;
}

.paymentp {
    font-weight:700;
    padding-top:1vw;
    padding-bottom:.6vw;
}

#paymentNumber {
    width:3vw;
    text-align:center;
    margin-left:9vw;
}

.calculate {
    padding: .5vw 1.5vw;
    background-color:#000000;
    font-family:"League Spartan", sans-serif;
    font-size:1.2vw;
    color:#EFEFEF;
    margin-left:24vw;
    margin-top:2vw;
}

.calculate:hover {
    background-color:#000000ad;
    border: #000000ad solid 2px;
    transition: all 250ms ease;
}

.mountain-img {
    background-image:url("img/mountain.png");
    padding-bottom:3vw;
    background-repeat:no-repeat;
    background-size:cover;
}

.taxes {
    display:flex;
    flex:wrap;
    justify-content:center;
    padding-top: 3vw;
}

.tax-input p,
.tax-percent p,
.tax-x p,
.tax-decimal p,
.tax-total-flex p,
.tax-equal p,
.tax-output p {
    padding:1.5vw 0;
    font-size:1.9vw;
}

.tax-percent p,
.tax-x p {
    padding-right:1vw;
}

.tax-decimal p {
    padding-left:1vw;
}

.tax-equal p {
    padding-left:5vw;
}

.tax-input {
    width:30vw;
}

.tax-total-flex {
    display:flex;
    flex:wrap;
    justify-content: space-between;
}

.empty {
    background-color:#004643;
    font-size:1.9vw;
    padding:1.5vw 0;
}

.tax-input,
.tax-output,
.tax-total-flex {
    margin:0 15vw;
}

.deductions h3 {
    background:linear-gradient(17deg, rgba(98,194,141,1) 2%, rgba(173,230,193,1) 37%, rgba(236,232,210,1) 65%, rgba(251,229,218,1) 81%);
    margin-top:5vw;
    text-align: center;
    padding: 2vw 0;
}

.total-deductions {
    font-weight:700;
}

.net-monthly h4,
.take-home {
    text-align: center;
    font-family: "League Spartan", sans-serif;
    font-size:3vw;
}

.take-home {
    font-size:2vw;
    padding-top:.5vw;
}

::selection {
    background:#8ec2a4c0;
}

.net-monthly h4 {
    padding-top:2vw;
}

.subtract-sec {
    display:flex;
    flex:wrap;
    margin:0 15vw;
    justify-content: space-between;
    margin-top:2vw;
}

.sub-sign {
    font-size:8vw;
    opacity:.8;
    color:#EFEFEF;
    top:-1.5vw;
    position: relative;
}

.minus {
    font-size:10vw;
    top:-3vw;
}

.sub-color p {
    width:15vw;
    color:#EFEFEF;
    text-align: center;
    font-size:2vw;
    vertical-align: middle;
    display:inline-block;
    line-height:1.5;
}

.sub-color {
    background-color:rgb(180, 180, 180);
    height:3vw;
}

.mono {
    font-family:"Ubuntu Mono", sans-serif;
    text-align: center;
    color:#525252;
    font-size:1.3vw;
    padding-top:.5vw;
}

/* PAGE 3 */
.hero-img3 {
    background-image: url("img/president.png");
}

.how-to-sect p,
.how-to-sect li {
    font-family: "League Spartan", sans-serif;
    font-size:1.5vw;
    line-height: 3vw;
    margin-left:29vw;
    font-weight:300;
    margin-right:27vw;
}

.how-to-sect p {
    margin-left:27.5vw;
}

.how-to-sect h3 {
    padding-bottom:2vw;
}

.form-flex {
    display: flex;
    flex: wrap;
    justify-content: space-between;
    margin:0 12vw;
    padding:5vw 0;
}

.check-reg {
    background-color:#004643;
    margin-bottom:5vw;
}

.check-reg h3 {
    text-align: center;
    padding-top:5vw;
    background-color:white;
}

.key h4 {
    font-family: "League Spartan", sans-serif;
    font-size:3.5vw;
    font-weight: 600;
    text-align: center;
    padding-bottom:1.2vw;
}

.key {
    color:#D9D9D9;
}

.key p {
   font-size:1.5vw;
   font-weight:300; 
   line-height:2.5vw;
}

table {
    background-image:url("img/leaves.png");
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-collapse: collapse;
}

input,
th,
.paycheck {
    height:2.5vw;
    font-size:1.2vw;
    font-family:"League Spartan", sans-serif;
    background-color:#eaeaea3d;
    border:none;
}

output {
    font-size:1.2vw;
    font-family:"League Spartan", sans-serif;
}

td, 
th {
    border:rgba(0, 0, 0, 0.705) solid .1vw;
}

input,
output,
.paycheck {
    font-family:'ubuntu mono' sans-serif;
    font-size:1.7vw;
    text-align:center;
}

.transaction {
    text-align:left;
    padding-left:1vw;
}

.one {
    height:3vw;
}

.date {
    width:10vw;
    font-size:1.3vw;
}

.transaction {
    width:15vw;
}

.withdrawal,
.deposit {
    width:10vw;
}

.balance {
    width:10vw;
}

#calc,
#calc2 {
    width:6vw;
    height:2.5vw;
    font-family:"League Spartan", sans-serif;
    position:relative;
    float:right;
    right:10vw;
    bottom:4vw;
    margin-right:2vw;
    font-size:1.2vw;
}

footer p {
    color:#004643;
    margin-left:1vw;
    padding: 1vw 0;
}

.down-arrow {
    margin-left:55vw;
    position:relative;
    bottom:1vw;
    color:#525252;
    text-decoration:none;
}

.down-arrow:hover {
    color:#8980F5;
    cursor: pointer;
    transition: .3s ease;
}

html {
    scroll-behavior: smooth;
}

.s {
    color:#8980F5;
    font-weight:bold;
}